# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
attrs=20.3.0=pyhd3deb0d_0
brotlipy=0.7.0=py37h395d20d_1001
ca-certificates=2020.12.5=h033912b_0
catalogue=1.0.0=py37hf985489_2
certifi=2020.12.5=py37hf985489_0
cffi=1.14.4=py37hbddb872_0
chardet=4.0.0=py37hf985489_0
cloudpickle=1.6.0=pypi_0
cryptography=3.3.1=py37haf76d9e_0
cycler=0.10.0=pypi_0
cymem=2.0.4=py37h23ab428_0
cython-blis=0.4.1=py37haf1e3a3_1
en-core-web-lg=2.3.1=pypi_0
en-core-web-sm=2.3.1=pypi_0
future=0.18.2=pypi_0
gym=0.17.3=pypi_0
idna=2.10=pyh9f0ad1d_0
importlib-metadata=3.3.0=py37hf985489_2
importlib_metadata=3.3.0=hd8ed1ab_2
jsonschema=3.0.0a3=py37_1000
keyboard=0.13.5=pypi_0
kiwisolver=1.3.1=pypi_0
libblas=3.9.0=3_openblas
libcblas=3.9.0=3_openblas
libcxx=10.0.0=1
libedit=3.1.20191231=h1de35cc_1
libffi=3.2.1=h0a44026_1007
libgfortran=5.0.0=h7cc5361_13
libgfortran5=9.3.0=h7cc5361_13
liblapack=3.9.0=3_openblas
libopenblas=0.3.12=openmp_h54245bb_1
llvm-openmp=11.0.0=h73239a0_1
matplotlib=3.3.3=pypi_0
murmurhash=1.0.5=py37h23ab428_0
ncurses=6.2=h0a44026_1
numpy=1.19.4=py37hec87de9_2
openssl=1.1.1i=h35c211d_0
pandas=1.1.5=pypi_0
pillow=8.0.1=pypi_0
pip=20.3.1=py37hecd8cb5_0
plac=0.9.6=py37_1
preshed=3.0.2=py37h0a44026_1
pycparser=2.20=pyh9f0ad1d_2
pyglet=1.5.0=pypi_0
pyobjc=7.0.1=pypi_0
pyobjc-core=7.0.1=pypi_0
pyobjc-framework-accounts=7.0.1=pypi_0
pyobjc-framework-addressbook=7.0.1=pypi_0
pyobjc-framework-adsupport=7.0.1=pypi_0
pyobjc-framework-applescriptkit=7.0.1=pypi_0
pyobjc-framework-applescriptobjc=7.0.1=pypi_0
pyobjc-framework-applicationservices=7.0.1=pypi_0
pyobjc-framework-authenticationservices=7.0.1=pypi_0
pyobjc-framework-automaticassessmentconfiguration=7.0.1=pypi_0
pyobjc-framework-automator=7.0.1=pypi_0
pyobjc-framework-avfoundation=7.0.1=pypi_0
pyobjc-framework-avkit=7.0.1=pypi_0
pyobjc-framework-businesschat=7.0.1=pypi_0
pyobjc-framework-calendarstore=7.0.1=pypi_0
pyobjc-framework-cfnetwork=7.0.1=pypi_0
pyobjc-framework-cloudkit=7.0.1=pypi_0
pyobjc-framework-cocoa=7.0.1=pypi_0
pyobjc-framework-collaboration=7.0.1=pypi_0
pyobjc-framework-colorsync=7.0.1=pypi_0
pyobjc-framework-contacts=7.0.1=pypi_0
pyobjc-framework-contactsui=7.0.1=pypi_0
pyobjc-framework-coreaudio=7.0.1=pypi_0
pyobjc-framework-coreaudiokit=7.0.1=pypi_0
pyobjc-framework-corebluetooth=7.0.1=pypi_0
pyobjc-framework-coredata=7.0.1=pypi_0
pyobjc-framework-corehaptics=7.0.1=pypi_0
pyobjc-framework-corelocation=7.0.1=pypi_0
pyobjc-framework-coremedia=7.0.1=pypi_0
pyobjc-framework-coremediaio=7.0.1=pypi_0
pyobjc-framework-coremidi=7.0.1=pypi_0
pyobjc-framework-coreml=7.0.1=pypi_0
pyobjc-framework-coremotion=7.0.1=pypi_0
pyobjc-framework-coreservices=7.0.1=pypi_0
pyobjc-framework-corespotlight=7.0.1=pypi_0
pyobjc-framework-coretext=7.0.1=pypi_0
pyobjc-framework-corewlan=7.0.1=pypi_0
pyobjc-framework-cryptotokenkit=7.0.1=pypi_0
pyobjc-framework-devicecheck=7.0.1=pypi_0
pyobjc-framework-dictionaryservices=7.0.1=pypi_0
pyobjc-framework-discrecording=7.0.1=pypi_0
pyobjc-framework-discrecordingui=7.0.1=pypi_0
pyobjc-framework-diskarbitration=7.0.1=pypi_0
pyobjc-framework-dvdplayback=7.0.1=pypi_0
pyobjc-framework-eventkit=7.0.1=pypi_0
pyobjc-framework-exceptionhandling=7.0.1=pypi_0
pyobjc-framework-executionpolicy=7.0.1=pypi_0
pyobjc-framework-externalaccessory=7.0.1=pypi_0
pyobjc-framework-fileprovider=7.0.1=pypi_0
pyobjc-framework-fileproviderui=7.0.1=pypi_0
pyobjc-framework-findersync=7.0.1=pypi_0
pyobjc-framework-fsevents=7.0.1=pypi_0
pyobjc-framework-gamecenter=7.0.1=pypi_0
pyobjc-framework-gamecontroller=7.0.1=pypi_0
pyobjc-framework-gamekit=7.0.1=pypi_0
pyobjc-framework-gameplaykit=7.0.1=pypi_0
pyobjc-framework-imagecapturecore=7.0.1=pypi_0
pyobjc-framework-imserviceplugin=7.0.1=pypi_0
pyobjc-framework-inputmethodkit=7.0.1=pypi_0
pyobjc-framework-installerplugins=7.0.1=pypi_0
pyobjc-framework-instantmessage=7.0.1=pypi_0
pyobjc-framework-intents=7.0.1=pypi_0
pyobjc-framework-iosurface=7.0.1=pypi_0
pyobjc-framework-ituneslibrary=7.0.1=pypi_0
pyobjc-framework-latentsemanticmapping=7.0.1=pypi_0
pyobjc-framework-launchservices=7.0.1=pypi_0
pyobjc-framework-libdispatch=7.0.1=pypi_0
pyobjc-framework-linkpresentation=7.0.1=pypi_0
pyobjc-framework-localauthentication=7.0.1=pypi_0
pyobjc-framework-mapkit=7.0.1=pypi_0
pyobjc-framework-mediaaccessibility=7.0.1=pypi_0
pyobjc-framework-medialibrary=7.0.1=pypi_0
pyobjc-framework-mediaplayer=7.0.1=pypi_0
pyobjc-framework-mediatoolbox=7.0.1=pypi_0
pyobjc-framework-metal=7.0.1=pypi_0
pyobjc-framework-metalkit=7.0.1=pypi_0
pyobjc-framework-metalperformanceshaders=7.0.1=pypi_0
pyobjc-framework-modelio=7.0.1=pypi_0
pyobjc-framework-multipeerconnectivity=7.0.1=pypi_0
pyobjc-framework-naturallanguage=7.0.1=pypi_0
pyobjc-framework-netfs=7.0.1=pypi_0
pyobjc-framework-network=7.0.1=pypi_0
pyobjc-framework-networkextension=7.0.1=pypi_0
pyobjc-framework-notificationcenter=7.0.1=pypi_0
pyobjc-framework-opendirectory=7.0.1=pypi_0
pyobjc-framework-osakit=7.0.1=pypi_0
pyobjc-framework-oslog=7.0.1=pypi_0
pyobjc-framework-pencilkit=7.0.1=pypi_0
pyobjc-framework-photos=7.0.1=pypi_0
pyobjc-framework-photosui=7.0.1=pypi_0
pyobjc-framework-preferencepanes=7.0.1=pypi_0
pyobjc-framework-pushkit=7.0.1=pypi_0
pyobjc-framework-quartz=7.0.1=pypi_0
pyobjc-framework-quicklookthumbnailing=7.0.1=pypi_0
pyobjc-framework-safariservices=7.0.1=pypi_0
pyobjc-framework-scenekit=7.0.1=pypi_0
pyobjc-framework-screensaver=7.0.1=pypi_0
pyobjc-framework-scriptingbridge=7.0.1=pypi_0
pyobjc-framework-searchkit=7.0.1=pypi_0
pyobjc-framework-security=7.0.1=pypi_0
pyobjc-framework-securityfoundation=7.0.1=pypi_0
pyobjc-framework-securityinterface=7.0.1=pypi_0
pyobjc-framework-servicemanagement=7.0.1=pypi_0
pyobjc-framework-social=7.0.1=pypi_0
pyobjc-framework-soundanalysis=7.0.1=pypi_0
pyobjc-framework-speech=7.0.1=pypi_0
pyobjc-framework-spritekit=7.0.1=pypi_0
pyobjc-framework-storekit=7.0.1=pypi_0
pyobjc-framework-syncservices=7.0.1=pypi_0
pyobjc-framework-systemconfiguration=7.0.1=pypi_0
pyobjc-framework-systemextensions=7.0.1=pypi_0
pyobjc-framework-usernotifications=7.0.1=pypi_0
pyobjc-framework-videosubscriberaccount=7.0.1=pypi_0
pyobjc-framework-videotoolbox=7.0.1=pypi_0
pyobjc-framework-vision=7.0.1=pypi_0
pyobjc-framework-webkit=7.0.1=pypi_0
pyopenssl=20.0.1=pyhd8ed1ab_0
pyparsing=2.4.7=pypi_0
pyrsistent=0.17.3=py37h4b544eb_1
pysocks=1.7.1=py37h2987424_2
python=3.7.4=h359304d_1
python-dateutil=2.8.1=pypi_0
python_abi=3.7=1_cp37m
pytz=2020.4=pypi_0
readline=7.0=h1de35cc_5
requests=2.25.1=pyhd3deb0d_0
scipy=1.5.4=pypi_0
seaborn=0.11.0=pypi_0
setuptools=51.0.0=py37hecd8cb5_2
six=1.15.0=pyh9f0ad1d_0
spacy=2.3.2=py37h879752b_0
sqlite=3.33.0=hffcf06c_0
srsly=1.0.5=py37h23ab428_0
thinc=7.4.1=py37h879752b_0
tk=8.6.10=hb0a8c7a_0
tqdm=4.54.1=pyhd8ed1ab_0
typing_extensions=3.7.4.3=py_0
urllib3=1.26.2=pyhd8ed1ab_0
wasabi=0.8.0=pyh9f0ad1d_0
wheel=0.36.1=pyhd3eb1b0_0
xz=5.2.5=h1de35cc_0
zipp=3.4.0=py_0
zlib=1.2.11=h1de35cc_3
